{% extends 'base.html' %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">


{% block content %}

{% if messages %}
  {% for message in messages %}

      <div class="container mt-1 mb-1">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <div id="autoDismissAlert" class="alert alert-success fade show d-flex align-items-center shadow-sm border border-success-subtle rounded-4 px-4 py-3" role="alert" style="font-size: 1rem;">
              <i class="bi bi-check-circle-fill me-3 fs-4 text-success"></i>
              <div class="flex-grow-1">
                {{ message }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        setTimeout(function () {
          const alert = document.getElementById('autoDismissAlert');
          if (alert) {
            alert.classList.remove('show');
            alert.classList.add('hide');
          }
            location.reload();

        }, 1000); // alert auto hide after 1s
      </script>
  {% endfor %}
{% endif %}
<form method="POST" action="{% url 'login_user' %}" class="p-4 shadow rounded bg-light" style="max-width: 400px; margin: auto; background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('{% static 'img/bg.jpg' %}') center center / cover no-repeat; margin-top: 1rem;">

  {% csrf_token %}
  <h3 class="text-center mb-4 text-white">Login</h3>

  {% comment %} <div class="mb-3">
     <label for="email" class="form-label fw-bold text-white">Email address</label>

    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
  </div> {% endcomment %}
    <div class="mb-3">
     <label for="number" class="form-label fw-bold text-white">Number</label>

    <input type="text" class="form-control" id="number" name="number" placeholder="Enter your number" required>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label fw-bold text-white">Password</label>

    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
  </div>

  <button type="submit" class="btn btn-success w-100 fw-semibold">Login</button>

  <div class="text-center mt-3">
    {% comment %} <a href="#" class="text-decoration-none text-muted">Forgot password?</a> {% endcomment %}
    <a href="{% url 'forgot_password' %}" class="text-decoration-none text-white">Forgot password?</a>

  </div>
</form>

{% endblock %}